<ng-container *ngIf="product" class="container">
	<div class="card">
		<h1>{{product.title}}</h1>
		<p>Precio: {{product.price | currency:'USD'}}</p>
		<!-- <img src={{product.images}} alt="Mi producto">  -->
		<img class="product-image"
		*ngIf="product?.images && product.images.length > 0 && product.images[0] !== '' && isValidUrl(product.images[0])" 
		[src]="product.images[0]" alt="Imagen del producto">
		<div class="botones">
			<button (click)="agregarAlCarrito()">Agregar al carrito</button>
			<button (click)="agregarAlRecordatorio()" class="btn-recordatorio">🔔</button>
		</div>
		
	</div>
</ng-container>

<ng-container *ngIf="!product">
  No Existen productos
</ng-container>