<!-- ********************** -->
<!-- Modal de recordatorios -->
<!-- ********************** -->
<button class="fab" (click)="toggleReminder()" [class.fab-alert]="reminders.length > 0" title="Recordatorio">
  🔔
</button> 

<!-- Panel del recordatorio -->
<div class="reminder-panel" [class.show]="showReminder">
  <h4>Recordatorio</h4> 
  <div class="reminder-grid">
    <div class="reminder-card" *ngFor="let p of reminders">
      <img [src]="p.images" alt="{{p.title}}" title="Subir al carrito" (click)="agregarAlCarrito(p)">
      <div class="info">
        <span class="name">{{ p.title }} </span>
        <span class="price">{{ p.price | currency }}</span>
        <span (click)="eliminarDelRecordatorio(p)" class="icon-recordado" title="Olvidar">🔻</span>
      </div>
    </div>
    <p *ngIf="reminders.length === 0" class="empty">No tienes recordatorios</p>
  </div>
</div>

<!-- **************** -->
<!-- Modal de carrito -->
<!-- **************** -->
<button
  class="fab-carrito"
  (click)="toggleCart()"
  [class.fab-alert-carrito]="cart.length > 0"
  title="Carrito">
  🛒
</button>

<span [class.show]="cart.length > 0" class="fab-numproducts-cart">{{cart.length}}</span>

<!-- Panel del carrito -->
<div class="cart-panel" [class.show]="showCart">
  <h4>Carrito</h4> 

  <div class="cart-grid">
    <div class="cart-card" *ngFor="let p of cart">
      <img [src]="p.images" alt="{{p.title}}">

      <div class="info">
        <span class="name">{{ p.title }}</span>
        <span class="price">{{ p.price | currency }}</span>

        <!-- Controles de unidades -->
        <div class="qty-control">
          <button (click)="decrease(p)" title="Restar">−</button>
          <span class="qty">{{ p.quantity }}</span>
          <button (click)="increase(p)" title="Sumar">+</button>
        </div>

        <!-- Acciones -->
        <div class="actions">
          <span (click)="eliminarDelCarrito(p)" title="Descartar" class="icon-carrito">💩​</span>
          <span (click)="agregarAlRecordatorio(p)" title="Recordar" class="icon-carrito">🔔</span>
        </div>
      </div>
    </div>

    <div *ngIf="cart.length === 0" class="empty-state">
      <img class="empty-state-img" src="img/carrito-vacio.png" alt="Carrito vacío">
      <p class="empty-state-text">Tu carrito está vacío</p>
    </div>
  </div>

  <!-- Total fijo abajo -->
  <div class="cart-total" *ngIf="cart.length > 0">
    <div class="total-pay">
      <span>Total:</span>
      <span>{{ total | currency }}</span>
    </div>
    <button class="btn-continue" (click)="toggleCart()">SEGUIR COMPRANDO</button>
    <button class="btn-pay" (click)="pagar()">PAGAR</button>
  </div>
</div>

<!-- Contenedor general -->
<div class="container">
  <!-- Sidebar (Columna izquierda de navegación) -->
  <div class="sidebar">
    <h3>Categorías</h3>
    <ul>
      <li>👗 Ropa</li>
      <li>📱 Electrónica</li>
      <li>🏠 Hogar</li>
      <li>⚽ Deportes</li>
      <li>💡​ Ayuda</li> <!--{{numeroProductos}}-->
    </ul>
  </div>

  <!-- Galería de productos (4 columnas) -->
  <div class="products-grid">
    <app-producto 
    [product]="product"
    *ngFor="let product of visibleProducts" 
    (agregarCarrito)="agregarAlCarrito($event)"
    (recordarProducto)="agregarAlRecordatorio($event)"> <!--(eliminarProducto)="eliminarProductoDelCarrito($event)"-->
    </app-producto>
  </div>

  <div class="load-more">
    <button *ngIf="productsToShow < products.length" (click)="showMore()">Ver más ({{productsToShow}}/{{products.length}})</button>
    <p *ngIf="productsToShow >= products.length">¡Has visto todos los productos!</p>
  </div>
</div>

<!-- Enviamos el producto al componente hijo (producto)
significa que cuando ProductoComponent emita un evento,
AppComponent ejecutará agregarAlCarrito() con ese producto. -->