

<!-- Categories Grid -->
<section class="categories">
  <h2>Categorías Populares</h2>
  <div class="categories-grid">
    <div class="category-card" *ngFor="let category of categories">
      <img [src]="category.image" alt="{{ category.name }}">
      <h3>{{ category.name }}</h3>
    </div>
  </div>
</section>



 <!-- Sección Hero con Imagen -->
<section class="hero-section">
  <div class="hero-overlay">
    <div class="hero-content">
      <h1 class="hero-title">Tu Experiencia de Compra Perfecta</h1>
      <p class="hero-subtitle">Descubre productos exclusivos a precios increíbles</p>
    </div>
  </div>
</section>

<!-- Featured Products -->
<section class="featured-products">
  <h2>Productos Destacados</h2>
  <div class="products-grid">
    <div class="product-card" *ngFor="let product of featuredProducts">
      <img [src]="product.image" alt="{{ product.name }}">
      <h3>{{ product.name }}</h3>
      <p class="price">{{ product.price | currency }}</p>
      <button routerLink="/carrito" class="add-to-cart" (click)="addToCart(product)">Ver más</button>
    </div>
  </div>
</section>


<!-- Image Collage Section -->
<section class="image-collage">
  <h2>Inspiración para tus Compras</h2>
  <div class="collage-grid">
    <div class="collage-item tall" style="background-image: url('https://images.pexels.com/photos/601177/pexels-photo-601177.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
      <div class="collage-overlay">
        <h3>Nuevas Colecciones</h3>
      </div>
    </div>
    <div class="collage-item wide" style="background-image: url('https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
      <div class="collage-overlay">
        <h3>Tendencias</h3>
      </div>
    </div>
    <div class="collage-item" style="background-image: url('https://images.unsplash.com/photo-1571781926291-c477ebfd024b?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80');">
      <div class="collage-overlay">
        <h3>Ofertas Especiales</h3>
      </div>
    </div>
    <div class="collage-item" style="background-image: url('https://images.pexels.com/photos/179908/pexels-photo-179908.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
      <div class="collage-overlay">
        <h3>Lo más vendido</h3>
      </div>
    </div>
    <div class="collage-item tall" style="background-image: url('https://images.pexels.com/photos/31965142/pexels-photo-31965142.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
      <div class="collage-overlay">
        <h3>Estilo Único</h3>
      </div>
    
    </div>
  </div>
    <div class="collage-actions">
    <button routerLink="/carrito"  class="see-more-btn">Ver más</button>
  </div>
</section>

<app-preguntas-frecuentes></app-preguntas-frecuentes>