<nav class="navbar">
    <div class="logo">🛍️ Bienvenido</div>
    <ul class="nav-links">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/carrito">Producto</a></li>
      <li><a routerLink="/productos">Carro</a></li>      
      <li><a routerLink="/contacto">Contacto</a></li>
      <li><a routerLink="/sesion" class=" nav-link"><strong>Iniciar Sesion</strong></a></li> 
      <li><a routerLink="/sesion" class="nav-link"><strong>Registrarse</strong></a></li> 
      
    </ul>
  </nav>
  
  <!-- Aquí se cargarán los componentes --> 
  <router-outlet></router-outlet> 