<mat-toolbar color="primary" class="sticky-toolbar">

  <div class="logo-container">
    <mat-icon class="logo-icon">emoji_people</mat-icon>
    <span class="logo-text">TienditaTop</span>
  </div>


  <div class="spacer"></div>


  <nav class="main-nav">
    <a mat-button routerLink="/" class="nav-button">
      <mat-icon>home</mat-icon>
      <span class="button-text">Inicio</span>
    </a>

  
    <mat-menu #carritoMenu="matMenu" class="custom-menu">
      <button mat-menu-item routerLink="/carrito" [queryParams]="{category: 'tenis'}">
        <mat-icon>sports_tennis</mat-icon>
        👟 Tenis
      </button>
      <button mat-menu-item routerLink="/carrito" [queryParams]="{category: 'zapatos'}">
        <mat-icon>style</mat-icon>
        👞 Camisetas
      </button>
      <button mat-menu-item routerLink="/carrito" [queryParams]="{category: 'tecnologia'}">
        <mat-icon>devices</mat-icon>
        📱 Tecnología
      </button>
      <button mat-menu-item routerLink="/carrito" [queryParams]="{category: 'casa'}">
        <mat-icon>home</mat-icon>
        🏠 Hogar
      </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="carritoMenu" class="nav-button">
      <mat-icon>shopping_cart</mat-icon>
      <span class="button-text">Categorías</span>
      <mat-icon>expand_more</mat-icon>
    </button>

    <a mat-button routerLink="/contacto" class="nav-button">
      <mat-icon>contact_support</mat-icon>
      <span routerLink="/ayuda" class="button-text">Ayuda</span>
    </a>
  </nav>


  <div class="spacer"></div>

  <div class="auth-section">
    <a mat-stroked-button routerLink="/sesion" class="auth-button">
      <mat-icon>login</mat-icon>
      <span class="button-text">Iniciar sesión</span>
    </a>
    
    <a mat-raised-button color="accent" routerLink="/registro" class="auth-button">
      <mat-icon>person_add</mat-icon>
      <span class="button-text">Registrarse</span>
    </a>
  </div>
</mat-toolbar>

  <router-outlet></router-outlet> 